a{
    color: #fff;
    text-decoration: none;
    
}

body{
    background-color:rgb(12, 12, 78); ;
    background-image: ;
}

#desc {

    text-align:start;
    color:aliceblue;
    font-size: 20px;
    font-style:oblique ;
    border-left: 4px solid #fff;
    line-height: normal;

}
h3 {

    font-size: 21px;
    color:aliceblue;
    text-shadow: #070707;
}
#ses{

    color: aliceblue;
    font-size: 19px;
    text-align: center;
}
#info{
color: aliceblue;
font-size: 20px;
font-weight: bolder



}
h2{

color: aliceblue;
}
h1{
    color: aliceblue;
    font-size: 22px
    
}
th{
    color: #fff;

}
td{
    color:#fff;
}
table{
    width: 70%;
}
tr{
   background-color:black;
}